/* Custom CSS for soilspec documentation */

/* Make code blocks more readable */
div.highlight pre {
    font-size: 0.9em;
    line-height: 1.4;
}

/* Better spacing for API documentation */
dl.class, dl.function, dl.method {
    margin-bottom: 2em;
}

/* Highlight scientific formulas */
div.math {
    margin: 1em 0;
    padding: 0.5em;
    background-color: #f8f8f8;
    border-left: 3px solid #2980b9;
}

/* Make tables more readable */
table.docutils {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

table.docutils th {
    background-color: #2980b9;
    color: white;
    padding: 0.5em;
}

table.docutils td {
    padding: 0.5em;
    border: 1px solid #ddd;
}

/* Style for scientific references */
dl.citation {
    font-size: 0.9em;
    margin-left: 2em;
}

/* Better note/warning boxes */
div.admonition {
    margin: 1em 0;
    padding: 0.5em 1em;
    border-left: 4px solid;
}

div.admonition.note {
    border-color: #2980b9;
    background-color: #e7f2fa;
}

div.admonition.warning {
    border-color: #e67e22;
    background-color: #fcf8e3;
}

/* Code inline styling */
code.docutils.literal {
    background-color: #f5f5f5;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    font-size: 0.9em;
}
